*{
	margin: 0;
	padding: 0;
	/*border: .1px black solid;*/
	font-family: 'Roboto Slab', serif;
}

.home{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background:url(../images/image1.jpg);
	background-position: center;
	background-size: cover;
}

.home > div > h1{
	color: black;
	text-shadow: 1px 0 white, -1px 0 white, 0 1px white, 0 -1px white;
	font-size: 3rem;
}

.btn{
	border-style: none;
	background-color: salmon;
	color: black;
	padding: 10px 25px;
	border-radius: 50px;
	font-weight: bold;
}

.nav{
	position: fixed;
	top: 0;
	width: 100vw;
	height: 5vh;
	background-color:salmon;
	opacity: .8
}

.nav:hover{
	opacity: 1;
}

.nav ul{
	list-style-type: none;
	display:flex;
	justify-content: center;
	align-items: center;
}

.nav li{
	text-align: center;
	width: 9vw;
	font-size: 1rem;
}

.nav li:hover{
	opacity: .4;
}

.badminton{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url( "../images/image2.jpg");
	background-position: center;
	background-size: cover;
}

.badminton > div{
	height: 100vh;
	width:50vw;
}

.badminton p{
	font-size: 1.3rem;
	width: 80%;
	text-shadow: 1px 0 white, 0 1px white, -1px 0 white, 0 -1px white;
	text-align: center;
}

.badmintonLeft{
	display: flex;
	justify-content: center;
	align-items: center;
}

.badmintonRight{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.badmintonRight>div>div{
	display: flex;
	justify-content: center;
	align-items: center;
}

.badmintonLeft p>span{
	font-size: 1.5rem;
	text-shadow: 1px 0 white, 0 1px white, -1px 0 white, 0 -1px white;
}

.aboutMe{
	background: url(../images/image3.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
}

.aboutMe img{
	height: 25vh;
	border-radius: 50%;
	border: 2px solid white;
}

.aboutMe p{
	font-size: 2rem;
}

.gallery{
	height: 100vh;
	width: 100vw;
	background: url(../images/image4.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.gallery > div{
	text-align: center;
}

.gallery img{
	width: 15vw;
	height: 30vh;
	margin: auto auto;
	transition: .4s;
	border-radius: 10px;
	border: 3px solid white;
}

.gallery img:hover{
	width: 30vw;
	height: 100%;
}

.contactMe{
	height: 100vh;
	width: 100vw;
	background: linear-gradient(rgba(255, 255, 255, .6),rgba(100, 100, 100, .8)),url(../images/image5.jpg);
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;

}

.contactMe > div{
	height: 100vh;
	width: 50vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.contactMe form{
	display: block;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.contactMe input{
	margin:10px auto;
	height: 40px;
	width: 400px;
}

.btnContactMe{
	border-style: none;
	background-color: salmon;
	color: black;
	padding: 5px 10px;
	border-radius: 5px;
	font-weight: bold;
}

.contactMe p{
	font-size:2.5rem;
	text-shadow: 1px 0 white, 0 1px white, -1px 0 white, 0 -1px white;
}

.contactMe textarea{
	margin:10px auto;
	height: 70px;
	width: 400px;
}

.contactMe input,.contactMe textarea{
	border-radius: 10px;
	border-style: none;
}
